<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Deletion Successful - HeroHub</title>
    <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="image">
        <div class="content">
            <header style="text-align:center">
                <h1><a href="/">HeroHub</a></h1>
                <p>Your Ultimate Superhero Destination</p>
            </header>
            <nav>
                <a href="/browse">Browse</a>
                <a href="/login">Register/Login</a>
                <a href="/profile">Profile</a>
                <a href="/signout">Sign Out</a>
            </nav>
            <main>
                <section id="deletion-successful">
                    <h2>Account Deletion Successful</h2>
                    <p>Your HeroHub account has been successfully deleted.</p>
                    <p>We're sad to see you go! If you ever decide to return, we'll be here waiting for you.</p>
                    <p>Thank you for being a part of our superhero community!</p>
                </section>
            </main>

            <footer>
                <p>No copyright intended. All characters and images used belong to their respective copyright owners.</p>
            </footer>
        </div>
    </div>
</body>

</html>
