<!DOCTYPE html>
<html>

<head>
  <title>Home Page - Hero Hub</title>
  <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">

</head>

<body>
  <div class="image">
    <div class="content">
      <header style="text-align:center">
        <h1><a href="/">HeroHub</a></h1>
        <p>Your Ultimate Superhero Destination</p>
      </header>

      <nav>
        <a href="/browse">Browse</a>
        <a href="/login">Register/Login</a>
        <a href="/profile">Profile</a>
        <a href="/signout">Sign Out</a>
      </nav>

      <main>
        <section id="description">
          <h2>Welcome to Hero Hub!</h2>
          <p>Hero Hub is your go-to destination for discovering and exploring the fascinating world of superheroes. Whether you're a die-hard fan or just starting your journey into the superhero universe, our website offers a vast collection of superhero profiles for you to explore.</p>
          <p>Explore our extensive database of superheroes from various comic book universes, including Marvel, DC Comics, and more. Each superhero profile provides detailed information about their powers, backstory, and iconic moments.</p>
          <p>But that's not all! With a Hero Hub account, you can create your personalized list of favorite superheroes. Simply browse through our collection, find your favorites, and add them to your list to keep track of them easily.</p>
          <p>Join our community of superhero enthusiasts today and embark on an epic adventure through the realms of heroism, bravery, and justice!</p>
        </section>


      </main>

      <footer>
        <p>No copyright intended. All characters and images used belong to their respective copyright owners.</p>
      </footer>

      <script>
        // JavaScript for adding functionality goes here
      </script>
    </div>
  </div>
</body>

</html>
