<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - HeroHub</title>
    <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="image">
        <div class="content">
            <header style="text-align:center">
                <h1><a href="/">HeroHub</a></h1>
                <p>Your Ultimate Superhero Destination</p>
            </header>

            <nav>
                <a href="/browse">Browse</a>
                <a href="/login">Register/Login</a>
                <a href="/profile">Profile</a>
                <a href="/signout">Sign Out</a>
            </nav>

            <main>
                <section id="login-form">
                    <h2>Login</h2>
                    <p style="color:red">{{ fail }}</p>
                    <form action="#" method="POST">
                        <div>
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" required>
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <button type="submit">Login</button>
                    </form>
                    <p>Don't have an account? <a href="/register">Sign up here</a></p>
                </section>
            </main>

            <footer>
                <p>No copyright intended. All characters and images used belong to their respective copyright owners.</p>
            </footer>
        </div>
    </div>
</body>

</html>
