<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful - HeroHub</title>
    <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="image">
        <div class="content">
            <header style="text-align:center">
                <h1><a href="/">HeroHub</a></h1>
                <p>Your Ultimate Superhero Destination</p>
            </header>
            <nav>
                <a href="/browse">Browse</a>
                <a href="/login">Register/Login</a>
                <a href="/profile">Profile</a>
                <a href="/signout">Sign Out</a>
            </nav>
            <main>
                <section id="registration-successful">
                    <h2>Registration Successful</h2>
                    <p>Congratulations! Your account has been successfully registered with HeroHub.</p>
                    <p>You can now login to your account and start exploring the world of superheroes.</p>
                    <a href="/login">Login Now</a>
                </section>
            </main>

            <footer>
                <p>No copyright intended. All characters and images used belong to their respective copyright owners.</p>
            </footer>
        </div>
    </div>
</body>

</html>
