<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Out - HeroHub</title>
    <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="image">
        <div class="content">
            <header style="text-align:center">
                <h1><a href="/">HeroHub</a></h1>
                <p>Your Ultimate Superhero Destination</p>
            </header>
            <nav>
                <a href="/browse">Browse</a>
                <a href="/login">Register/Login</a>
                <a href="/profile">Profile</a>
                <a href="/signout">Sign Out</a>
            </nav>

            <main>
                <section id="sign-out">
                    <h2>Sign Out</h2>
                    <p>You have been successfully signed out of your HeroHub account.</p>
                    <p>Thank you for using HeroHub!</p>
                    <p>If you'd like to sign in again, <a href="/login" style="padding:0px">click here</a></p>
                </section>
            </main>

            <footer>
                <p>No copyright intended. All characters and images used belong to their respective copyright owners.</p>
            </footer>
        </div>
    </div>
</body>

</html>
